<div style="text-align: center; margin: 5%">
  <a
    style="width: 100px; height: 55px"
    href="/profile/new"
    class="btn btn-outline-info"
    ><img style="width: 35px" src="/images/plus.png"
  /></a>
</div>
<% profiles.forEach((profile,id) => { %>
<div class="card" style="width: 18rem;">
    <img src="<%= profile.profileImg %> " class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><a href="/profile/<%= profile.id %> "><%= profile.name %></a></h5>
      <p class="card-text"><%= profile.status  %></p>
      <p class="card-text">Weight:<%= profile.weight %>lbs</p>
      <p class="card-text">Height:<%= profile.height %>feet</p>
      <p class="card-text">Age:<%= profile.age %></p>
      <p class="card-text">Recent workout:<%= profile.recentWorkout %></p>
      <a href="/profile/<%= profile.id %> " class="btn btn-primary">edit</a>
      <form action="/profile/<%= profile.id %>?_method=DELETE" method="POST">
        <input type="submit"class="btn btn-info" style="text-decoration: none; color: black;" value="DELETE">
        </form>
    </div>
  </div>
  <% }) %> 
