<div class="card mb-3">
    <img src="/images/starter.jpeg" class="card-img-top" >
    <div class="card-body">
      <h1 class="card-title">Starter</h1>
      <p class="card-text">If you're a beginning exerciser or its been a long time since you worked out, you may be wondering exactly where to start. Luckily, you don't have to figure it out yourself. Allow us to help you.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link "style="text-decoration: none; color: black" href="#">Warm Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="text-decoration: none; color: black"href="#">Cool Down</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <% starters.forEach((starter,id) => { %>
      <h2 class="card-title" style="padding-top: 30px;"><%= starter.focus %> </h2>
      <p class="card-text"><%= starter.workout[0] %></p>
      <p class="card-text"><%= starter.workout[1] %></p>
      <p class="card-text"><%= starter.workout[2] %></p>
      <p class="card-text"><%= starter.workout[3] %></p>
      <p class="card-text"><%= starter.workout[4] %></p>
      <form
      action="/starter/<%= starter.id %>?_method=DELETE"
      method="POST">
      <input type="submit" class="btn btn-info" style="text-decoration: none; color: black" value="COMPLETE"/>
    </form>
      <% }) %> 
    </div>
  </div>